<!DOCTYPE html>
<html>
<font face="verdana,sans,arial">
<style>

#control_node {
  display: flex;
}

#login_info {
  width: 400px;
}

#section_title {
  font-weight: bold;
  font-size: 25px;
}

#example_login {
  padding-top: 5px;
}

hr {
  width: 80%;
}

td {
  padding: 5px;
  border-bottom: 1px solid #cccccc;
}

pre {
  background: black;
  color: #fff !important;
  width: 100%;
  padding: 5px;
  max-width: 600px;
  margin: 10px 0 10px 0;
}

.content{
         display:none;
         margin: 10px;
}

.header{
  border-bottom: 1px solid #494a5a;
  padding-bottom: 20px;
}

.student_logins {
    width:100%;
    border:1px solid #d3d3d3;
}
.student_logins div {
    width:100%;
}
.student_logins .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.student_logins .studentx {
    display: none;
    padding : 5px;
}

.linklightfooter {
    background-color: #212121;
    padding: 80px 0px;
    font-size: 0.7em;
    color: #fff;
    font-weight: 300;
}

section {
    padding: 40px 0px;
}

body {
  line-height: 1.5;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.theme-dark,
.theme-dark *{
    color: #fff;
}

.theme-bg-gray{
    background-color: #cac8c8;
}

.theme-bg-darkgray{
    background-color: #a2a1a1;
}

.btn {
    border-radius: 0px;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 0px;
}

.btn.btn-block {
    display: block;
}

.btn.btn-primary,
.btn.btn-secondary {
    background-color: #a2a1a1;
    color: #fff;
    padding: 30px;
}

.btn.btn-secondary {
    background-color: #cac8c8;
}

.btn.btn-ghost{
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
}


.page-header {
    background: #c00;
    color: #fff;
    text-align: center;
}

.page-header h1 {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 400;
}

.page-header h2 {
    font-size: 1em;
    font-weight: 300;
}


.main-content h1{
    color: #333;
}

.main-content h2{
    color: #cc0000;
}

.main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #c00;
}


footer.site-footer{
    background-color: #212121;
    padding: 80px 0px;
    font-size: 0.7em;
    color: #fff;
    font-weight: 300;
}



@media screen and (min-width: 768px){

    .page-header h1 {
        font-size: 24px;
    }

    .main-content {
        font-size: 1.125rem;
    }
}



/* theme overrides */

@media screen and (max-width: 42em){
    .main-content {
        padding: 2rem 0px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 64em) and (min-width: 42em){
    .main-content {
        padding: 2rem 0px;
        font-size: 1rem;
    }
}

@media screen and (min-width: 64em){
    .main-content {
        max-width: none;
        font-size: 1.1rem;
    }
}

a {
  test-decoration: none;
}

</style>
<head>
<link href=“https://fonts.googleapis.com/css?family=Overpass:300,400,700” rel=“stylesheet”>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
$("document").ready(function(){
  $click =  $('.studentinfo');   // Click selector

  $click.click(function () {

    $clicked = $(this);
    
    $expand = $(this).parent('.header').next();  // Expand and collapse content selector

        //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
        $expand.slideToggle(500, function () {
            //execute this after slideToggle is done
            //change text of header based on visibility of content div

            // scrolls page to expanded slide
            $('html, body').animate({
                scrollTop: 1000
            }, 500);
            
        });

    });
    $("a[href='" + window.location.hash + "']").parent(".studentinfo").click();
    
    
});
</script>

</head>

<body>


    <section class="page-header">
      <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
              <h1 class="project-name">Red Hat Ansible Automation Platform<br/><strong class="text-nowrap">Technical Workshops</strong></h1>
              <h2>The Ansible Workshops project is intended to effectively demonstrate the capabilities of Red Hat Ansible Automation Platform through instructor-led workshops and self-paced exercises.</h2>

                <a href="https://github.com/ansible/workshops" class="btn btn-ghost">View on GitHub</a><br><br>

              <h1>Workshop Name: {{ec2_name_prefix}}</h1>

            </div>
        </div>
      </div>
    </section>

<section class="main-content">
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                {% if workshop_type in ['networking', 'f5'] %}
                <h2>Network Automation Workshops</h2>
                <p>These workshops are focused on networking platforms like Arista, Cisco, Juniper and F5.</p>
                {% elif workshop_type in ['rhel'] %}
                <h2>Ansible Automation Workshops</h2>
                <p>These workshops are focused on getting started with Ansible Engine and Ansible Tower in automating Linux platforms like RHEL (Red Hat Enterprise Linux).</p>
                {% elif workshop_type in ['security'] %}
                <h2>Security Automation Workshops</h2>
                <p>These workshops are focused on automating security platforms like Snort, Check Point and Splunk Enterprise Security.</p>
                {% elif workshop_type in ['windows'] %}
                <h2>Windows Automation Workshops</h2>
                <p>These workshops are focused on automating Microsoft Windows.</p>
                {% endif %}
            </div>
        </div>
        {% if workshop_type == "networking" %}
        <div class="row">
          <div class="col-sm-4">
              <a class="btn btn-secondary btn-block" href="https://ansible.github.io/workshops/exercises/ansible_network/">Ansible Network Exercises</a>
          </div>

          <div class="col-sm-4">
              <a class="btn btn-secondary btn-block" href="https://ansible.github.io/workshops/decks/ansible_network.pdf">Ansible Network Deck</a>
          </div>

        </div>
        {% elif workshop_type == "f5" %}
        <div class="row">
          <div class="col-sm-4">
              <a class="btn btn-secondary btn-block" href="https://ansible.github.io/workshops/exercises/ansible_f5/">Ansible F5 Exercises</a>
          </div>

          <div class="col-sm-4">
              <a class="btn btn-secondary btn-block" href="https://ansible.github.io/workshops/decks/ansible_f5.pdf">Ansible F5 Deck</a>
          </div>

        </div>
        {% elif workshop_type == "rhel" %}
        <div class="row">
            <div class="col-sm-4">
                <a class="btn btn-secondary btn-block" href="https://ansible.github.io/workshops/exercises/ansible_rhel/">Ansible RHEL Exercises</a>
            </div>
            <div class="col-sm-4">
              <a class="btn btn-secondary btn-block" href="https://ansible.github.io/workshops/decks/ansible_rhel.pdf">Ansible Technical Deck</a>
            </div>
        </div>
        {% elif workshop_type == "security" %}
        <div class="row">
            <div class="col-sm-4">
                <a class="btn btn-secondary btn-block" href="https://ansible.github.io/workshops/exercises/ansible_security/">Ansible Security Exercises</a>
            </div>
            <div class="col-sm-4">
              <a class="btn btn-secondary btn-block" href="https://ansible.github.io/workshops/decks/ansible_security.pdf">Ansible Security Deck</a>
          </div>
        </div>
        {% elif workshop_type == "windows" %}
        <div class="row">
            <div class="col-sm-4">
                <a class="btn btn-secondary btn-block" href="https://ansible.github.io/workshops/exercises/ansible_windows/">Ansible Windows Exercises</a>
            </div>
            <div class="col-sm-4">
              <a class="btn btn-secondary btn-block" href="https://ansible.github.io/workshops/decks/ansible_windows.pdf">Ansible Windows Deck</a>
          </div>
        </div>
        {% endif %}
<br><br>

    </div>
</section>

<hr>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>Workshop Resources</h2>
                <p>Links and materials to help complete the exercises.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <a class="btn btn-secondary btn-block" href="https://the.earth.li/~sgtatham/putty/latest/w64/putty.exe">Download: PuTTY for Windows</a>
            </div>

            <div class="col-sm-4">
                <a class="btn btn-secondary btn-block" href="https://www.ansible.com/workshop-license">Ansible Tower Workshop License</a>
            </div>

            <div class="col-sm-4">
                <a class="btn btn-secondary btn-block" href="https://ansible.sivel.net/test/">Ansible Template Tester</a>
            </div>
        </div>
<br>
        <div class="row">
            {% if workshop_type in ['networking', 'f5'] %}
            <div class="col-sm-4">
                <a class="btn btn-secondary btn-block" href="https://docs.ansible.com/ansible/latest/network/index.html">Documentation Network Automation </a>
            </div>

            <div class="col-sm-4">
                <a class="btn btn-secondary btn-block" href="https://docs.ansible.com/ansible/latest/modules/list_of_network_modules.html">Ansible Network Modules</a>
            </div>
            {% endif %}
            <div class="col-sm-4">
                <a class="btn btn-secondary btn-block" href="https://pythex.org/">Real-time regular expression editor</a>
            </div>

        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>Workbench Information</h2>
                <p>Click your student number for login information</p>
            </div>
        </div>

        <div class="row">
{% for number in range(1,student_total + 1) %}
  <div class="student_logins">
    <div class="header">

      <p class="studentinfo"><a href="#student{{number}}"></a>student{{number}} - Click to see login details</p>
    </div>
    <div class="content">
{% for host in ansible_node_facts.instances %}
{% if 'student' ~ number == host.tags.Student %}
{% if code_server is defined and code_server %}
<div id="section_title">VS Code access</div>
To login to Visual Studio Code via your web browser please go here:<br>
<table>
  <tr>
    <td>UI link:</td>
    <td>{% if workshop_type == "windows" %}<a href="https://student{{number}}-code.{{ec2_name_prefix}}.{{workshop_dns_zone}}/?folder=vscode-remote%3A%2F%2Fstudent{{number}}-code.{{ec2_name_prefix}}.{{workshop_dns_zone}}%2Fhome%2Fstudent{{number}}%2Fwindows-workshop%2Fworkshop_project">https://student{{number}}-code.{{ec2_name_prefix}}.{{workshop_dns_zone}}</a>{% else %}<a href="https://student{{number}}-code.{{ec2_name_prefix}}.{{workshop_dns_zone}}">https://student{{number}}-code.{{ec2_name_prefix}}.{{workshop_dns_zone}}</a>{% endif %}</td>
  </tr>
  <tr>
    <td>password:</td>
    <td><code>{{admin_password}}</code></td>
  </tr>
</table><br>
<hr>
{% endif %}
{% if workshop_type == "windows" %}
<div id="section_title">GitLab access</div>
To login to GitLab via your web browser please go here:<br>
<table>
  <tr>
    <td>UI link:</td>
    <td><a href="https://gitlab.{{ec2_name_prefix}}.{{workshop_dns_zone}}">https://gitlab.{{ec2_name_prefix}}.{{workshop_dns_zone}}</a></td>
  </tr>
  <tr>
    <td>username:</td>
    <td><code>student{{number}}</code></td>
  </tr>
  <tr>
    <td>password:</td>
    <td><code>{{admin_password}}</code></td>
  </tr>
</table><br>
<hr>
{% endif %}
{% if workshop_type == "windows" %}
{% else %}
<div id="section_title">SSH access</div>
To login to the Ansible Control Node use the following for SSH access:<br>
<div id="control_node">
<div id="login_info">
<table>
  <tr>
    <td>username:</td>
    <td><code>student{{number}}</code></td>
  </tr>
  <tr>
    <td>password:</td>
    <td><code>{{admin_password}}</code></td>
  </tr>
  <tr>
    <td>IP Address:</td>
    <td><code>{{ host.public_ip_address }}</code></td>
  </tr>
</table>
</div>
<div id="example_login">
<pre><code>ssh student{{number}}@{{ host.public_ip_address }}</code></pre>
{% if dns_type != 'none' %}
DNS: student{{number}}.{{ec2_name_prefix}}.{{workshop_dns_zone}}<br>
<pre><code>ssh student{{number}}@student{{number}}.{{ec2_name_prefix}}.{{workshop_dns_zone}}</code></pre>
{% endif %}
</div>
</div>
<hr>
{% endif %}
<div id="tower_info">
{% if towerinstall is defined and towerinstall %}
<div id="section_title">Ansible Tower access</div>
To login to the Ansible Tower UI use the following credentials:<br>
<table>
{% if dns_type != 'none' %}
  <tr>
<td>UI link:</td>
<td><a href="https://student{{number}}.{{ec2_name_prefix}}.{{workshop_dns_zone}}">https://student{{number}}.{{ec2_name_prefix}}.{{workshop_dns_zone}}</a></td>
  </tr>
{% endif %}
{% if dns_type == 'none' %}
  <tr>
<td>UI link:
<td><a href="https://{{ host.public_ip_address }}">https://{{ host.public_ip_address }}</a></td>
  </tr>
{% endif %}
  <tr>
    <td>username:</td>
    <td><code>{% if workshop_type == "windows" %}student{{number}}{% else %}admin{% endif %}</code></td>
  </tr>
  <tr>
    <td>password:</td>
    <td><code>{{admin_password}}</code></td>
  </tr>
</table>
{% endif %}
</div>

{% if workshop_type in ['devops'] %} Lab Guide: <a href="http://student{{number}}.{{ec2_name_prefix}}.{{workshop_dns_zone}}:8888">http://student{{number}}.{{ec2_name_prefix}}.{{workshop_dns_zone}}:8888</a><br>{% endif %}
{% endif %}
{% endfor %}
    </div>
  </div>
{% endfor %}

       </div>
    </div>
</section>

</section>

<div class="linklightfooter">
  <div class="container">
  <p>Red Hat, the Shadowman logo, Ansible, and Ansible Tower are trademarks or registered trademarks of Red Hat, Inc. or its subsidiaries in the United States and other countries.

  All other parts of Ansible Automation Workshops are made available under the terms of the MIT License</p>
  </div>
</div>

</body>
</html>